<div style="width:100%; height:100vh; background-color:antiquewhite;display:flex; justify-content:center; align-items:center;">
    <div>
        <h3 style="width:80%; text-align:center; margin:0 auto;">
            У Вас не достаточно слов, для работы данного режима добавьте не менее 5 слов.
        </h3>
    </div>
    
</div>
