@model LibraryWordsJson

<div class="d-flex justify-content-center align-items-center" 
style="background:  url(https://catherineasquithgallery.com/uploads/posts/2021-03/1614857389_17-p-fon-okeana-20.jpg)  no-repeat fixed; height:85vh;">
    <div class="card" style="width: 22rem;">
        @if (Model.PathPict != null)
        {
            <img src="~/img/words/@Model.PathPict" class="card-img-top" style="max-height:300px;" alt="...">
        }
        else
        {
            <img src="~/english.jpg" class="card-img-top" alt="...">
        }
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h4 class="card-title">@Model.Id. @Model.En </h4></li>
            <li class="list-group-item"> <h4 class="card-title">@Model.Ru</h4></li>
            <li class="list-group-item"> <h4 class="card-title">@Model.Tr</h4></li>
            @if (Model.PathSound!= null)
            {
             <li class="list-group-item">
                    <audio autoplay="autoplay" class="testAudio" hidden src="~/sounds/@Model.PathSound" type="audio/mpeg"></audio>
                    <i class="bi bi-filetype-mp3 iconAudio" style="font-size:30px; text-align:center;"></i>
             </li>
            }

            @if (ViewBag.AutoPlay == null)
            {
                <li class="list-group-item"><a href="/Admin/ShowCardsWords?id=@Model.Id" class="btn btn-outline-info">Next word</a></li>
                <li class="list-group-item">
                <form method="get" asp-action="ShowCardsWords" asp-controller="Admin">
                    <spam>Id</spam>
                    <input type="number" min="1" name="id" step="1" size="15" />  
                    <input type="text" name="flag" value="flag_id" hidden />
                    <button type="submit" class="btn btn-outline-info">Go to</button>
                </form>    
                </li>
            }

            @if(User.IsInRole(Role.Admin.ToString()))
            {
             <li class="list-group-item">
                <a href="/Admin/AddWordDictionary?objId=@Model.Id" class="btn btn-outline-warning">Update word</a>
            </li>
            }
        </ul>
    </div>
</div>
<script>
    "strict"
    if (document.querySelector(".iconAudio") != null)
    document.querySelector(".iconAudio").addEventListener("click", ()=>{
        document.querySelector(".testAudio").play();
    });
</script>